<p style="color: green"><%= notice %></p>

<%= render @todo_list %>

<div>
  <% @todo_list.todo_items.each do |todo_item| %>
    <li><%=  todo_item.description %></li>
  <% end %>

  <br>
  <%= link_to "Edit", edit_todo_list_path(@todo_list) %> |
  <%= link_to "Back", todo_lists_path %>

  <%= button_to "Delete", @todo_list, method: :delete %>
</div>
